<!doctype html>

<html ng-app="kenkenApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="kenken-services.js"></script>
    <script src="kenken-solver.js"></script>
    <script src="kenken-controller.js"></script>
    <script src="kenken-directives.js"></script>
    <script src="kenken-filters.js"></script>
    <link rel="stylesheet" href="kenken.css">
</head>

<body ng-controller="KenkenController" ng-keydown="keydown($event)" ng-keyup="keyup($event)">
    <div class="clock">
        {{ time | timer }} <span ng-show="solved">SOLVED!</span>
    </div>
    <table id="board" tabindex="0" ng-blur="cursorHidden=true" ng-focus="cursorHidden=false">
        <tr ng-repeat="row in board">
            <td ng-repeat="cell in row"
                kenken-cell-walls
                ng-class="{highlight: isHighlighted(cell), cursor: cursorAt($parent.$index, $index), good: solved || checksRight(cell), bad: checksWrong(cell)}"
                ng-click="setCursor($parent.$index, $index)">
                {{ cell.guess }}
                <div class="label" ng-show="cell.isFirstInCage">
                    {{ cages[cell.cage].total }}<span class="operator" ng-bind-html="cages[cell.cage].op | operators"></span>
                </div>
                <div class="possible" ng-hide="cell.guess || !showPossibles">
                    <span ng-repeat="value in cell.possible track by $index"><span ng-if="value === true">{{ $index }}</span></span>
                </div>
            </td>
        </tr>
    </table>
    <div class="controls">
    <label>size:</label>
    <select class="size-select" ng-model="boardSize" ng-options="n for n in ['3','4','5','6','7','8']"
            ng-change="newBoard()">
    </select>

    <label>operations:</label>
        <!-- can't use ng-options here because the option labels contain html entities -->
    <select class="operator" ng-model="ops" ng-change="newBoard()">
        <option value="+-">&plus; &minus;</option>
        <option value="+x">&plus; &times;</option>
        <option value="+-x">&plus; &minus; &times;</option>
        <option value="+-x/">&plus; &minus; &times; &divide;</option>
    </select>
    </div>
    <div class="help">
    <p>return: check puzzle</p>
    <p>?: reveal square</p>
    <p>p: show/hide possible values</p>
    <p>r: reset</p>
    <p>n: new puzzle</p>
    <p>s: solve</p>
    <p>esc: undo</p>
    </div>
</body>

</html>